body {
  outline: 1px solid red;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-weight: 300;
  font-family: "OpenSans", Arial, sans-serif;
}

.main-title {
  font-size: 48px;
  color: #000000;
  font-weight: 800;
}

.subtitle {
  font-size: 18px;
  color: #000000;
  font-weight: 800;
}

.map {
  border: 0;
}

.main-header {
  outline: 2px solid green;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.main-navigation {
  outline: 3px solid blue;
  width: 1040px;
  height: 185px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f0c52e;
}

.main-title {
  outline: 4px solid yellow;
}

.nav-top {
  outline: 4px solid yellow;
  display: flex;
}

.nav-top-search {
  outline: 5px solid orange;
  width: 520px;
}

.nav-top-user {
  outline: 5px solid orange;
  width: 520px;
}

.nav-bottom {
  outline: 4px solid yellow;
  display: flex;
}

.nav-bottom-catalog {
  outline: 5px solid orange;
  width: 520px;
}

.nav-bottom-aside {
  outline: 5px solid orange;
  width: 520px;
}

.dropdown {
  outline: 3px solid blue;
  width: 1040px;
  height: 115px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f0c52e;
  /* visibility: hidden; */
}

.slider-list {
  outline: 3px solid blue;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
}

.slider {
  outline: 4px solid yellow;
  display: flex;
  justify-content: space-between;
}

.slider-photo {
  outline: 5px solid orange;
}

.slider-desc {
  outline: 5px solid orange;
}

.slider-desc-slogan {
  outline: 6px solid pink;
  width: 500px;
}

.slider-desc-text {
  outline: 6px solid pink;
  width: 500px;
}

.slider-desc-more {
  outline: 6px solid pink;
  width: 500px;
}

.slider-desc-features {
  outline: 6px solid pink;
  width: 500px;
  display: flex;
  justify-content: flex-start;
}

.slider-desc-meta-item {
  outline: 7px solid gray;
}

.slider-desc-meta-item:nth-child(1) {
  width: 160px;
}

.slider-desc-meta-item:nth-child(2) {
  width: 140px;
}

.slider-desc-meta-item:nth-child(3) {
  width: 160px;
}

main {
  outline: 2px solid green;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.categories {
  outline: 3px solid blue;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.categories-item {
  outline: 4px solid yellow;
}

.categories-item-picture {
  width: 160px;
  height: 160px;
  background: #f0c52e;
  display: flex;
}

.categories-item-picture img {
  margin: auto;
}

.meta-slider {
  outline: 3px solid blue;
  height: 290px;
  margin-left: -140px;
  margin-right: -140px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: flex-start;
}

.meta-slider-nav {
  outline: 4px solid yellow;
  width: 300px;
  padding: 140px;
}

.meta-slide {
  outline: 4px solid red;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
}

.meta-slide:nth-child(2) {
  display: none;
}

.meta-slide:nth-child(3) {
  display: none;
}

.slider-title {
  width: 500px;
}

.slider-text {
  width: 500px;
}

.company {
  outline: 3px solid blue;
  width: 1160px;
  display: flex;
  justify-content: space-around;
}

.about-us-and-contacts {
  outline: 3px solid blue;
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.about-us {
  outline: 4px solid yellow;
}

.contacts {
  outline: 4px solid yellow;
}

footer {
  outline: 3px solid green;
  height: 325px;
  background-color: yellow;
  padding-left: 140px;
  padding-right: 140px;
}

.footer-top {
  outline: 2px solid gray;
  display: flex;
  justify-content: space-between;
}

.footer-middle {
  outline: 2px solid gray;
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  outline: 2px solid gray;
  display: flex;
  justify-content: space-between;
}

.subject {
  padding-left: 60px;
}

.breadcrumbs {
  outline: 2px solid gray;
  display: flex;
  padding-left: 60px;
}

.breadcrumbs li {
  outline: 2px solid gray;
  margin-right: 20px;
}

.catalog {
  outline: 3px solid blue;
  display: flex;
}

.sidebar {
  outline: 4px solid yellow;
  width: 200px;
  padding-left: 200px;
  padding-right: 70px;
  margin-left: -140px;
  background-color: #efefef;
}

.sidebar-header {
  outline: 4px solid yellow;
  background-color: #e2e2e2;
}

.sidebar-body-form {
  display: flex;
  flex-direction: column;
}

.body-header {
  outline: 4px solid yellow;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 970px;
  padding-left: 70px;
  background-color: #f1f1f1;
}

.body-content {
  outline: 4px solid yellow;
  width: 830px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 70px;
  padding-top: 70px;
}

.card {
  margin-right: 40px;
}

.body-footer {
  align-self: flex-end;
  display: flex;

}
